body{
    margin: 0;
    padding: 0;
    border: 0;
}
.container{
    margin: 0 auto;
    padding: 0 10px;
    max-width: 1140px;
}
@import "fonts/fonts";
@import "blocks/start";
@import "blocks/modal";
@import "blocks/online-ed";
@import "blocks/our-school";
@import "blocks/lesson";
@import "blocks/comparison";
@import "blocks/advantages";
@import "blocks/tariff";
@import "blocks/certificate";
@import "blocks/comment";
@import "blocks/accordion";
@import "blocks/contact";
@import "blocks/footer";