.advantages{
    margin-bottom: 80px;
    @media (max-width: 376px) {
        margin-bottom: 50px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 30px;
        grid-row-gap: 110px;
        grid-area: auto;
        margin-bottom: 60px;
        align-items: center;
        @media (max-width: 375px) {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
    &__item{
        display: flex;
        flex-direction: column;
        gap: 33px;
        align-items: center;
    }
    &__title{
        margin-bottom: 15px;
    }
    &__text{
        text-align: center;
    }
}
.subtitle{
    @media (max-width: 376px) {
        max-width: 280px;
        margin: auto auto 30px;
    }
}
.teacher{
    @media (max-width: 768px) {
        position: relative;
        top: -20px;
    }
    @media (max-width: 376px) {
        position: relative;
        top: 0px;
    }
}