.contact{
    margin-bottom: 130px;
    &__modal-colomn{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 20px;
        align-items: center;
        border-radius: 15px;
        box-shadow: 5px 15px 40px 0 rgba(30, 35, 66, 0.15);
        background: #fff;
        width: 309px;
        height: 356px;
        @media (max-width: 768px) {
            position: relative;
            bottom: 410px;
        }
        @media (max-width: 376px) {
            position: relative;
            bottom: 150px;
        }
    }
    &__main{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    &__text{
        max-width: 506px;
        @media (max-width: 768px) {
            text-align: center;
            max-width: 530px;
            margin-bottom: 110px;
        }
        @media (max-width: 376px) {
            font-size: 14px;
            max-width: 280px;
        }
    }
    &__title{
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
        @media (max-width: 376px) {
            font-size: 28px;
            margin-bottom: 30px;
        }
    }
}
.contact-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 768px) {
        flex-direction: column-reverse;
    }
    @media (max-width: 376px) {
        flex-direction: column-reverse;
    }
}
.img-contact{
    @media (max-width: 768px) {
        max-width: 535px;
        position: relative;
        top: 400px;
    }
    @media (max-width: 376px) {
        max-width: 280px;
        position: relative;
        top: 470px;
    }
}